@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

* {
    color: #363636;
    font-family: 'Roboto', sans-serif;
}

h4 {
    margin: 0;
}

.menu {
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 10%);
    padding: 1.25rem;
    color: #363636;
    width: 810px;
    margin: 0 auto;
    background-color: #fdfdfd;
}

.titulo {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    padding: 12px;
    font-family: 'Lato', sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.coluna-numero-recibo {
    float: left;
    width: 185px;
    padding: 12px;
}

.coluna-valor,
.coluna-data {
    float: right;
    width: 185px;
    padding: 12px;
}

.coluna-nome,
.coluna-dados-empresa {
    padding: 12px;
}

.coluna-cidade {
    float: left;
    width: 380px;
    padding: 12px;
}

.coluna-data {
    float: right;
    width: 380px;
    padding: 12px;
}

.input-valor,
.input-numero-recibo {
    -webkit-appearance: none;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    width: 170px;
    line-height: 1.3;
}

.input-nome,
.input-dados-empresa {
    -webkit-appearance: none;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    width: 770px;
    line-height: 1.3;
}

.input-valor:focus,
.input-numero-recibo:focus,
.input-nome:focus,
.input-dados-empresa:focus,
.input-cidade:focus,
.input-data:focus {
    outline: none !important;
    border-color: #368ce9;
    box-shadow: 0 0 10px #719ECE;
}

.input-cidade,
.input-data {
    -webkit-appearance: none;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    width: 365px;
    line-height: 1.3;
}


.botao-gerar-recibo {
    padding: 12px;
}

button {
    cursor: pointer;
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

button:hover {
    background-color: #0071e2;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}